/* Button Component */
.button {
  cursor: pointer;
  color: var(--button-text);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: var(--blue);
  border: solid 2px transparent;
  border-radius: 0.125rem;
  align-self: flex-start;
  font-size: 1.1rem;
  transition: all 0.2s;
}

.button:hover {
  background-color: var(--blue-light);
}

.button:disabled {
  opacity: 0.5;
}